<%- include('includes/head.ejs') %>

    <title> Visit </title>
</head>
<body>
    <div class="container">
        <% if (people.length > 0) { 
            let count = 0;
                for(let person of people){
                    count++;
                    if(count > 4){ %>
    </div>
    <div class="container">
                    <% } %>
                    <div class="col-sm-3">
                        <h1>  <%= person.name %> </h1>
                        <small>  <%= person.age %> anios </small>
                        <a href="https://buenamente.co/post/descubre-lo-que-la-estacion-del-ano-en-que-naciste-dice-sobre-ti-y-tu-alma/17087" target="_blank"> <%= person.estacionFav %> </a> <br>
                        
                        <% if(person.estacionFav === 'invierno'){ %>
                            <img width="100%" alt="Estación favorita" src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisaradio/OE4BORQYVBOURGTV3VOXMWXQ2M.jpg">
                        <% } else if(person.estacionFav === 'primavera'){ %>
                            <img width="100%" alt="Estación favorita" src="https://imagenes.elpais.com/resizer/WLxaoiXZVJmVPC1yO32wraOHEjo=/1960x1470/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/MLWVH6U2CA5DMN4TZWKUVZYSCM.jpg">
                        <% } else if(person.estacionFav === 'verano'){ %>
                            <img width="100%" alt="Estación favorita" src="https://concepto.de/wp-content/uploads/2018/08/verano2-e1535637899885.jpg">
                        <% } else { %>
                            <img width="100%" alt="Estación favorita" src="https://okdiario.com/img/2021/08/31/otono-655x368.jpg">
                        <% } %>
                    </div>
            <% } %>
        <% }else { %>
            <br> <br>
            <div class="alert alert-danger alert-dismissible fade in">
                <a class="close" data-dismiss="alert"> &times; </a>
                <strong> ATENCIÓN </strong> 
                <br> <p> No hay visitantes registrados </p> 
            </div>
        <% } %>
    </div>

    <div class="container">
        <br> <br>
        <% if(visitant === ''){ %>
            <div class="alert alert-warning alert-dismissible fade in">
                <a class="close" data-dismiss="alert"> &times; </a>
                <strong> ATENCIÓN </strong> 
                <br> <p> No hay visitantes registrados </p> 
            </div>
        <% } else { %>
            <div class="alert alert-success alert-dismissible fade in">
                <a class="close" data-dismiss="alert"> &times; </a>
                <strong> VISITANTES </strong> 
                <br> <p> <%= visitant %>, último visitante registrado </p> 
            </div>
        <% } %>

        <div class="alert alert-info alert-dismissible fade in">
            <a class="close" data-dismiss="alert"> &times; </a>
            <strong> INFO </strong>
                <% if(visits === ''){ %>
                    <br> <p> Consultas: 0 </p> 
                <% } else { %>
                    <br> <p> Consultas: <%= visits %> </p> 
                <% } %> 
        </div>
    </div>

<%- include('includes/foot.ejs') %>